@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#menu-0 .navbar-toggler {
  color: #5bc0de;
}
#menu-0 .navbar-brand {
  font-family: 'Roboto', sans-serif;
}
#header1-1 H1 {
  color: #2fadd2;
}
#features1-2 H4 {
  color: #b8dfed;
}
#testimonials1-8 .mbr-section-title {
  color: #b8dfed;
}
#testimonials1-8 .card-block DIV {
  color: #a8d0ea;
}
#testimonials1-8 .card-block I {
  color: #a8d0ea;
}
#testimonials1-8 .card-block EM {
  color: #a8d0ea;
}
#social-buttons2-x .mbr-section-title {
  color: #b8dfed;
}
#contacts2-f B {
  color: #abdbf2;
}
#contacts2-f P {
  color: #abdbf2;
}

#menu-b .navbar-toggler {
  color: #5bc0de;
}
#menu-b .navbar-brand {
  font-family: 'Roboto', sans-serif;
}
#social-buttons2-12 .mbr-section-title {
  color: #b8dfed;
}
#contacts2-f B {
  color: #abdbf2;
}
#contacts2-f P {
  color: #abdbf2;
}

#menu-g .navbar-toggler {
  color: #5bc0de;
}
#menu-g .navbar-brand {
  font-family: 'Roboto', sans-serif;
}
#social-buttons2-11 .mbr-section-title {
  color: #b8dfed;
}
#contacts2-f B {
  color: #abdbf2;
}
#contacts2-f P {
  color: #abdbf2;
}

#menu-k .navbar-toggler {
  color: #5bc0de;
}
#menu-k .navbar-brand {
  font-family: 'Roboto', sans-serif;
}
#social-buttons2-z .mbr-section-title {
  color: #c8eeec;
}
#contacts2-f B {
  color: #abdbf2;
}
#contacts2-f P {
  color: #abdbf2;
}

#menu-m .navbar-toggler {
  color: #5bc0de;
}
#menu-m .navbar-brand {
  font-family: 'Roboto', sans-serif;
}
#slider-13 H2 {
  color: #000000;
}
#slider-13 P {
  color: #000000;
}
#contacts2-f B {
  color: #abdbf2;
}
#contacts2-f P {
  color: #abdbf2;
}

#menu-16 .navbar-toggler {
  color: #5bc0de;
}
#menu-16 .navbar-brand {
  font-family: 'Roboto', sans-serif;
}
#social-buttons2-18 .mbr-section-title {
  color: #c8eeec;
}
#contacts2-19 B {
  color: #abdbf2;
}
#contacts2-19 P {
  color: #abdbf2;
}
